adbutils==2.12.0
certifi==2026.4.22
charset-normalizer==3.4.7
decorator==5.2.1
deprecation==2.1.0
idna==3.13
lxml==6.1.0
packaging==26.2
pillow==12.2.0
pip==26.0.1
pytesseract==0.3.13
requests==2.33.1
retry2==0.9.5
uiautomator2==3.5.0
urllib3==2.6.3
